.album {
    text-align: center;
    width: 100%;
}

.album-cover {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 4px;
    outline: 0 none;
    border: 1px solid rgb(34, 34, 34);
}

.album-cover img {
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

.album-info {
    margin-top: .8rem;
    margin-bottom: .8rem;
    width: 80%;
    text-align: left;
}

.album-info span {
    display: block;
}

.album-stat {
    margin-top: 1.2rem;
    width: 85px;
    height: 50px;
    display: flex;
    flex-direction: column;
    line-height: 1.25;
    border-left: 1px solid aqua;
}