h2 { font-weight: 700; }

h4 {
    font-weight: 300;
}

.lfloat { float: left !important; }
.rfloat { float: right !important; }

.popout {
    display: block;
    overflow: hidden;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: #242526;
    max-height: calc(100vh - 60px - 24px);
    width: 328px;
    -webkit-font-smoothing: antialiased;
    box-shadow: 0 12px 28px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    position: absolute;
    bottom: 0;
    right: 80px;
    height: 390px;
}

.popout-bar {
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    display: inline-block;
    padding: .8rem;
    color: #eee;
    font-weight: 700;
}

.popout-body {
    width: 100%;
    max-height: 300px;
    height: 300px;
}

.popout-footer {
    padding: 1rem;
}

.history {
    height: inherit;
    overflow: hidden;
    overflow-y: scroll;
    scroll-behavior: revert;
    scroll-behavior: smooth;
}

.history ul {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 1.25rem;
    color: var(--lighter-white-gray);
    max-height: 400px;
}


.history ul li {
    line-height: 26px;
    overflow: hidden;
    display: block;
}

.history ul li .history-item {
    background-color: var(--black-gray-monochromatic-1);
    overflow: hidden;
    display: block;
    word-wrap: break-word;
    text-decoration: none;
    cursor: pointer;
    min-height: 56px;
    position: relative;
    border-bottom: solid 1px var(--shadow-inset);
}

.history ul li:last-child .history-item {
    border-bottom: 0 none;
}

.history ul li .history-item:hover {
    background-color: var(--cornflower-blue-color);
    color: var(--black-gray-monochromatic-3);
}

.history ul li .history-item .label {
   position: absolute;
   top: 4px;
   left: 65px;
}

.history ul li .history-item span.type {
    position: absolute;
    top: 24px;
    left: 65px;
    color: var(--distinctive-gray-text);
}

.history ul li .image-ancor {
    width: 56px;
    height: 56px;
    overflow: hidden;
    position: relative;
    border-radius: 8px;
}

.history ul li .history-item .image {
    width: auto;
    height: auto;
    background-repeat: no-repeat;
    padding: .2rem;
    position: absolute;
    border-radius: 8px;
    object-fit: contain;
    background-clip: border-box;
    background-position: center center;
    background-attachment: fixed;
    max-width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: block;
    image-rendering: auto !important;
    min-width: 100%;
}

.history ul li .history-item a {
    margin: 0 0 0 13px;
}

.no-history {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-content: center;
    justify-content: normal;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 30px;
    color: #D3D3D3;
}

.no-history h3 {
    margin: 0 auto;
    display: block;
    padding-bottom: 10px;
}

.no-history span {
    display: block;
    margin: 0 auto;
    word-wrap: break-word;
    word-spacing: normal;
    word-break: break-word;
    color: var(--distinctive-gray-text);
}

.close {
    cursor: pointer;
    display: inline-block;
}